#logo{
    font-size: 30px;
    font-weight:bold;
    color: black;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color:pink;
    font-size:20px;
}
#nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    font-weight: bold;

    background-color: rgba(255,255,255,0.8); 
    padding: 0.5em 1em;   
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h2{
    text-align: center;
    color:dark rgb(130, 26, 83);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-top: rgb(165, 42, 99) 2px solid;
    border-bottom: rgb(165, 42, 106) 2px solid;
}
#nav a {
    color: var(--primary-text);
    text-decoration: none;
    padding: 0.5em 0.75em;
    transition: background-color 0.2s, color 0.2s;
}

#nav a:hover,
#nav a:focus {
    background-color: var(--heading-text);
    color: dark rgb(150, 23, 44);
    border-radius: 3px;
}

#nav a.active {             
    background-color: var(--heading-text);
    color: pink;
}
button {
 cursor: pointer;   
}
button:hover{
    background-color:rgb(130, 26, 83);
}